.all{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/loginbgc.png);
    background-repeat: no-repeat;
    background-size:cover;
    .card{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20%;
        opacity: 80%;
        .ant-card-head-wrapper{
            height: 48px;
            // background-image: url(../../assets//QQ截图20221005160549.png);
            background-repeat :no-repeat;
            background-position-x: 110px;
        }
        .visitor{
            position: absolute;
            left: 60%;
            top: 61.5%;
            background: orange;
            // margin-left: 110px;
            border: 0;
            
        }
    }
}
