.messages{
    .ant-table-thead{
    
        .ant-table-cell{
            font-size: 18px;
            font-weight: 700;
            text-align: center!important;
        }
        .anticon-search{
            font-size: 25px;
        }
        
    }
    .ant-table-tbody{
        
            text-align: center!important;
            img{
                border-radius: 40%;
            }
            .author{
                font-weight: 550;
            }
            .authorIcon{
                color: red;
                font-size: 20px;
            }
            
            .ant-tag{
                font-weight: 700;
                height: 30px;
                // width: 60px;
                text-align: center;
                line-height: 30px;
                font-size: 13px;
                color: rgb(249, 41, 0);
            }
            .ant-tag-orange{
                color: rgb(30, 0, 255)!important;
                background: 0!important;
            }
        
    }
}