body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  .content{
    overflow: scroll;
  }
  
  // html,body,#root {
  //   height: 100%;
  //   .App{
  //   height: 100%;

  //   }
  // }